#title{
    font-family: Comic Sans MS;
    font-style: italic;
    font-weight: bold;
    font-size: 5vw;
}

#lista{
    font-family: Comic Sans MS;
    font-weight: 100;
    text-decoration: dotted;
    font-size: 2.5vw;
}